:host {
  position: relative;
  overflow: hidden;
  display: flex;

  &.backdrop::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .4);
    opacity: 1;
  }

  &.fillStart::before {
    content: '';
    display: flex;
    flex: 1;
  }

  &.fillEnd::after {
    content: '';
    display: flex;
    flex: 1;
    order: 2;
  }
}

.content {
  overflow: auto;
  order: 2;

  will-change: margin;
  transition: margin 0.3s cubic-bezier(0, 0, 0.3, 1);

  :host(:not(.side)) & {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
