:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

app-drawer-container {
  flex: 1;
}

footer {
  background: lime;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  transition: max-height .3s cubic-bezier(0, 0, 0.3, 1);
  max-height: 100px;

  button {
    line-height: 2em;
    margin: 1em;
    height: 100%;
  }

  &.hide {
    max-height: 0;
  }
}

.content {
  max-width: 60em;
  margin: auto;
  padding: .6rem;
}
