:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

app-drawer-container {
  flex: 1;
}

footer {
  background: lime;
  display: flex;
  justify-content: space-around;
  padding: .5em;

  button {
    line-height: 3em;
  }
}
