:host {
  background: wheat;
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  will-change: transform;
  transition: transform .3s cubic-bezier(0, 0, 0.3, 1);
  z-index: 1;

  &:not(.opened) {
    &.start {
      transform: translateX(-100%);

      &.docked {
        transform: translateX(-100%) translateX(50px);
      }
    }
    &.end {
      transform: translateX(100%);

      &.docked {
        transform: translateX(100%) translateX(-50px);
      }
    }
  }
}

header {
  height: 50px;
  background: red;
  will-change: transform, width;

  :host(.spinned) & {
    transform-origin: 25px 50%;
    transform: rotate(90deg);
    width: 100vh;
  }
}
