:host {
  background: wheat;
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  will-change: transform, width;
  transition: all .3s cubic-bezier(0, 0, 0.3, 1);
  top: 0;
  bottom: 0;

  &.start {
    left: 0;

    &:not(.opened) {
      transform: translateX(-100%);

      &.docked {
        transform: translateX(-100%) translateX(50px);
      }
    }
  }

  &.end {
    right: 0;

    &:not(.opened) {
      transform: translateX(100%);

      &.docked {
        transform: translateX(100%) translateX(-50px);
      }
    }
  }
}

header {
  height: 50px;
  background: red;
  will-change: transform, width;

  &.spun {
    transform-origin: 25px 50%;
    transform: rotate(90deg);
    width: 100vh;

    :host(.start) & {
      position: absolute;
      left: calc(100% - 50px);
    }
  }
}
